
  section { 
    padding-top: 4rem; 
    color: white;
  } 
  footer {
      background-color: #343a40!important;
      color: white;
      height: 150px;
      width: 100%;
      text-align: right;
      padding-right: 15px;
      padding-top: 35px;
      font-size: 10px;
    
      
  }