{% extends 'layout.twig' %}
{% block style %}
    <link rel="stylesheet" href="/stylesheets/login.css">
{% endblock %}


{% block body %}

    <div class="col-md-4 col-md-offset-4" id="login">

{% if {{ message }} %}
            <div class="alert {{messageClass}}" role="alert">
                {{message}}
            </div>
            {% endif %}
						<form method="POST" action="/login">
                        <section id="inner-wrapper" class="login">
						<p><h2>Log in</h2></p1>
							<article>
								<form>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"> </i></span>
											<input name="email" type="email" class="form-control" placeholder="Enter email">
										</div>
									</div>
                                    <div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"> </i></span>
											<input name="password" type="password" class="form-control" placeholder="Password">
										</div>
									</div>
									
									  <button type="submit" class="btn btn-success btn-block">Log in</button>
								</form>
							</article>
						</section></div>
                        </form>
                        <div>       
{% endblock %} 
