{% extends 'layout.twig' %}
{% block style %}
    <link rel="stylesheet" href="/stylesheets/statistics.css">

{% endblock %}


{% block body %}

    <div class="grid-container">
        <div class="item1">
    {% if {{ tasks.user }} %}
        <p><h1>Your statistics:</h1></p>
        <p>Games count: {{ tasks.user['task'] }}</p>
        <p>Shots count: {{ statistics.user['shots_count'] }}</p>
    {% endif %}
    </div>

    </div>

{% endblock %}