body {
	padding: 0px;
    margin: 0px;
	}
 
 h1 {    
	font-size: 70px;
    color: chocolate;
    margin-top: 250px;
    text-align: center;
	}
	
.button {
	font-size: 50px;
    position: absolute;
    top: 5px;
    right: 50px;
    z-index: 999;
}

.button a {
	text-decoration: none;
}

.btn-openn:after {
	font-family: "FontAwesome";
	content: "\f0c9";
	color: chocolate;
	transition: 1s;
}

.btn-openn:hover:after {
	color: #1c9769;
}

.btn-closee:after {
	font-family: "FontAwesome";
	content: "\f00d";
	color: chocolate;
	transition: 1s;
}

.btn-closee:hover:after {
	color: #1c9769;
}
.overlay {
	position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: gainsboro;
	opacity: 0;
}

.nav-container {
	text-align: center;
    margin: 0 auto;
    width: 90%;
}

.col-nav {
	padding: 200px 0px;
	width: 24%;
	display: inline-block;
}

.col-nav h2 {
	font-size: 50px;
	color: chocolate;
}

.col-nav ul {
	padding: 0px;
	list-style: none;
}

.col-nav ul li a {
	color: white;
	padding: 10px 0px;
	text-decoration: none;
	display: block;
	transition: 1s;
}

.col-nav ul li a:hover {
	color: #1c9769;
}